{% extends 'base.html' %}

{% block content %}
<div>
    <div style="text-align : center; max-width: 700px; margin : 4rem auto;">
        <p>
            {{ target_user.date_joined }}
        </p>
        <img inlist="width:100%; border-radius: 1rem;"
             src="{{ target_user.profile.image.url }}" alt="" style="height : 10rem; width: 10rem; border-radius: 10rem;margin-bottom : 2rem; object-fit: cover;">
        {% if target_user.profile %}
            <h2 style="">
                {{ target_user.profile.nickname }}
                <a href="{% url 'profileapp:update' pk=target_user.profile.pk %}" class="material-icons-outlined">
                    <ion-icon name="settings-outline" style="color : black;"></ion-icon>
                </a>
            </h2>
        {% else %}
        <a href="{% url 'profileapp:create'%}">
                <p>
                    Create Profile
                </p>
            </a>
        {% endif %}
        <h5 style="margin-bottom: 3rem;">
            {{ target_user.profile.message }}
        </h5>
        {% if target_user == user %}
            <a href="{% url 'accountapp:update' pk=user.pk %}">
                <p>
                    Change Info
                </p>
            </a>
            <a href="{% url 'accountapp:delete' pk=user.pk %}">
                <p>
                    Quit
                </p>
            </a>
        {% endif %}
    </div>
    <div>
        {% include 'snippets/list_project.html' with article_list=object_list %}
    </div>
</div>

{% endblock %}