

<!--navbar-->
<style>
    a {
        color:#52478B;
        margin: 0 0 1rem 1rem ;
        font-family: 'Abril Fatface', cursive;
        text-decoration : none;
    }
</style>
<div style="text-align: center; background-color:#9696FF; " class="project_header">
    <div style="color:#28288C; font-family: 'Abril Fatface', cursive;  font-size: 4rem;">
        <h1>IE-ZONE</h1>
    </div>
    <div style="color:#28288C; margin:1.5rem; font-size:1.3rem; background-color:#9696FF;">
        <a href="{% url 'articleapp:list' %}" style="color:#28288C;">
            <span class="material-icons-outlined">
                Article
            </span>
        </a>
        <a href="{% url 'projectapp:list' %}">
            <span>
            project
            </span>

        </a>
        {% if not user.is_authenticated %}
        <a href="{% url 'accountapp:login' %}?next={{ request.path }}">
            <span>login</span>
        </a>
        <a href="{% url 'accountapp:create' %}?next={{ request.path }}">
            <span>Signup</span>
        </a>
        {% else %}

        <a href="{% url 'subscribeapp:list' %}">
            <span>
            subscribe
            </span>

        </a>
        <a href="{% url 'accountapp:logout' %}">
            <span>logout</span>
        </a>
        <a href="{% url 'accountapp:detail' pk=user.pk %}">
            <span>mypage</span>
        </a>
        {% endif %}

    </div>
</div>
